{
  "presets": [
    [
      "@gravity-ui/babel-preset",
      {
        "env": {
          "modules": false
        },
        "runtime": {
          "useESModules": true
        },
        "typescript": true,
        "react": {
          "runtime": "automatic"
        }
      }
    ]
  ]
}