button {
	width: fit-content;
	height: 36px;

	cursor: pointer;

	color: var(--color-light);
	border: none;
	border-radius: 6px;
}

/* button:focus {
	outline: 2px solid #0071f373;
} */

button.disabled {
	cursor: default;
	user-select: none;
	pointer-events: none;

	opacity: 0.5;
}
