button {
	width: fit-content;
	padding: 0.5rem 1rem;

	font-size: 0.875rem;
	cursor: pointer;

	color: var(--color-light);
	border: none;
	border-radius: 14px;
	background-color: var(--color-primary);
}

button:focus {
	outline: 2px solid #0071f373;
}

button.disabled {
	cursor: default;
	user-select: none;
	pointer-events: none;

	opacity: 0.5;
}
