@import './_container.css';
@import './_typography.css';
@import './utils.css';
@import './theme.css';

:root {
	--color-primary: #0275d8;
	--color-success: #5cb85c;
	--color-info: #5bc0de;
	--color-warning: #f0ad4e;
	--color-danger: #d9534f;
	--color-light: #f7f7f7;
	--color-dark: #292b2c;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;

	color: var(--color-light);
	background-color: var(--color-dark);

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.debug {
	border: 2px dashed rgb(72, 205, 72);
	background-color: rgba(215, 193, 52, 0.242);
}

body {
	overflow: hidden;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 1rem;
	padding: 0.3rem 1rem;
}

main {
	height: 100vh;
}
