@import './_container.css';
@import './_typography.css';
@import './utils.css';
@import './_base.css';

:root {
	--color-primary: #0070f3;
	--color-success: #17c964;
	--color-info: #0074f6;
	--color-warning: #f5a623;
	--color-danger: #f31260;
	--color-light: #f1f3f5;
	--color-dark: #11181c;
	--color-inactive: rgba(17, 24, 28, 0.5);

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;

	color: var(--color-dark);
	background-color: var(--color-light);

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.debug {
	border: 2px dashed rgb(72, 205, 72);
	background-color: rgba(215, 193, 52, 0.242);
}

main {
	height: 100vh;
}

.panel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;

	width: 90vw;
}

.panel {
	position: relative;

	flex: 0.5;

	height: 80vh;

	cursor: pointer;

	color: var(--color-light);
	border-radius: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;

	transition: flex 0.7s ease;
}

.panel h3 {
	position: absolute;
	bottom: 20px;
	left: 20px;

	margin: 0;

	font-size: 24px;

	opacity: 0;
}

.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	color: transparent;
	background: linear-gradient(
		0deg,
		rgba(129, 145, 166, 0.7931547619047619) 30%,
		rgba(228, 235, 244, 0.7931547619047619) 74%
	);
	background-clip: text;
}

.panel.active h3:hover {
	color: var(--color-light);

	transition: 0.3s all ease-in-out;
}

@media (max-width: 480px) {
	.panel-container {
		width: 100vw;
	}

	.panel:nth-of-type(3),
	.panel:nth-of-type(4) {
		display: none;
	}
}
