html.light-theme {
		color: #213547;
		background-color: #ffffff;
}

html.dark-theme {
		color: rgba(255, 255, 255, 0.87);
		background-color: var(--color-dark);
}

.theme-toggle {
	position: fixed;
	z-index: 1000;
	top: 1rem;
	right: 1rem;
}