.visually-hidden {
	position: absolute;
	z-index: -100;
	top: -150%;

	visibility: hidden;
	overflow: hidden;

	width: 0;
	height: 0;
	margin: 0;
	padding: 0;

	cursor: none;
	user-select: none;
	white-space: nowrap;
	pointer-events: none;

	opacity: 0;
	border: none;
	outline: none;
}
